<section id="app">
    <header>
        <h1>Connect 4</h1>
    </header>
    <article>
        {{outlet}}
    </article>
    <footer>
        <div class="float-left">
            Powered by Ember.
        </div>
        <div class="float-right">
            &#169; Shaun Halliday 2020
        </div>
    </footer>
</section>